
@import url(/common.css);

:host {
    display: grid;
    border: solid .125rem var(--theme-border-color);
    background-color: var(--theme-input-background-color);
    box-shadow: 0 0 .25rem var(--theme-shadow-color);
    color: var(--theme-main-text-color);
    grid-template-columns: 1fr max-content;
}

#action {
    grid-column: 2;
    align-self: start;
    display: block;
    box-sizing: border-box;
    inline-size: min-content;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: var(--theme-accent-color);
    font: inherit;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    margin: 0;
    padding: .5rem;
}

#text {
    grid-column: 1;
    display: grid;
    align-content: center;
    justify-content: start;
    padding: .5rem;
}
