
@import url(/common.css);

:host {
    display: grid;
    margin: 0;
    margin-block-end: 1em;
    /*border: solid .125rem var(--theme-border-color);*/
    background-color: var(--theme-input-background-color);
    box-shadow: 0 0 .25rem var(--theme-shadow-color);
    grid-template-columns: 1fr max-content;
}

#comment-main {
    padding: .5em;
    overflow-wrap: break-word;
    grid-column: 1;
}

#comment-text {
    white-space: pre-wrap;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

#comment-identity, #comment-text {
    display: inline;
}

#comment-identity[data-is-friend="1"]::before {
    font-size: 1em;
    content: 'verified_user';
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    vertical-align: text-bottom;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

#comment-menu {
    grid-column: 2;
    margin: 0;
    padding: 0;
    margin-inline-end: .5em;
    padding-block-start: .25em;
    padding-block-end: .25em;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: space-around;
    justify-content: space-around;
    gap: 1em;
}

#comment-menu > button {
    display: block;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    text-align: center;
    line-height: initial;
    font-size: 1em !important;
    opacity: .5;
}

#comment-menu > button:hover, #comment-menu > button:active {
    opacity: 1;
}

#comment-username, #comment-fingerprint {
    display: inline;
    color: var(--theme-label-text-color);
}

#comment-fingerprint::before {
    content: ' @';
}

#comment-fingerprint::after {
    content: ': ';
}

.caret-mark:not([hidden]) {
    display: inline-block;
    inline-size: .125rem;
    overflow: hidden;
    background-color: var(--theme-accent-color);
    color: transparent;
    vertical-align: text-top;
    word-break: keep-all;
    white-space: nowrap;
}

.caret-mark::before {
    content: '\2060';
}
