
@import url(/common.css);

#comments-active-placeholder {
    opacity: .5;
    display: block;
    margin-block-end: 1em;
}

#comments-idle {
    opacity: .75;
}

::slotted(.fade-in) {
    transition: opacity ease-in .25s;
}

::slotted(.fade-in-start) {
    opacity: 0;
}