
@import url(/common.css);

#comments-active:empty::before {
    content: attr(data-message-placeholder);
    opacity: .5;
    display: block;
    margin-block-end: 1em;
}

#comments-idle {
    opacity: .75;
}