@namespace 'http://www.w3.org/1999/xhtml';

body, input, textarea, button, select {
    font: inherit;
    border-radius: 0;
}

input[type="text"] {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

pre {
    white-space: pre-wrap;
}

a {
    text-decoration: none;
    color: #5eaf30;
}

:root {
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 100%;
    display: grid;
    min-width: 100%;
    min-height: 100%;
    font-synthesis: none;
    background-color: #5eaf30;
    color: #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    display: grid;
    margin: 0;
    grid-template-rows: max-content auto max-content;
    --scrollbar-width: calc(100vw - 100%);
    transition: opacity linear .5s;
}

body.flash {
    opacity: .25;
    transition: none;
}

#header {
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
    background-color: #5eaf30;
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    inline-size: 100%;
    box-shadow: 0 -16rem 0 16rem #5eaf30;
    z-index: 1;
}

#logotype {
    font-weight: 500;
    padding: .5em;
    display: block;
    color: #fff;
}

#location {
    display: grid;
    grid-template-columns: max-content 1fr;
}

#location::before {
    display: block;
    padding: .5em;
    content: '#';
    padding-inline-end: .25em;
}

#location:hover {
    color: #666;
    background-color: rgba(255, 255, 255, .5);
}

#random, #token, #help {
    display: block;
    padding: .5em;
    inline-size: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
}

#token {
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    appearance: none;
    padding-inline-start: .25em;
}

#token::placeholder {
    opacity: .5;
    color: inherit;
}

#token:focus {
    color: #666;
    /*background-color: rgba(255, 255, 255, .5);*/
    outline: none;
}

#random, #help {
    border: none;
    border-inline-start: solid .125rem rgba(0, 0, 0, .25);
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

#random:active, #random:hover, #help:active, #help:hover {
    background-color: rgba(0, 0, 0, .25);
    border-inline-start-color: rgba(0, 0, 0, .5);
}

#main {
    display: grid;
    align-content: end;
    background-color: #f2f2f2;
    padding: .5rem;
}

#controls {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    inline-size: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: max-content 1fr;
}

#about {
    font-size: 75%;
}

#text-wrapper {
    border: solid .125rem #aaa;
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: max-content max-content 1fr 2rem;
    padding-block-end: 1em;
}

#text-wrapper::before {
    content: '@';
    display: block;
    margin: 0;
    padding: .5em;
    padding-inline-end: 0;
    color: #ccc;
}

#identity {
    margin: 0;
    display: block;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
    padding: .5em;
    padding-inline-start: 0;
    padding-inline-end: .25em;
    color: #ccc;
}

#identity:empty::after {
    content: '<your id>';
}

#identity:focus {
    color: #888;
    outline: none;
}

#text {
    margin: 0;
    display: block;
    border: none;
    padding: .5em;
    padding-inline-start: .25em;
    appearance: none;
    box-sizing: border-box;
    overflow: hidden;
    white-space: pre-wrap;
    color: #888;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

#text:focus {
    color: #333;
    outline: none;
}

#clear {
    margin: 0;
    display: block;
    border: none;
    appearance: none;
    box-sizing: border-box;
    overflow: hidden;
    text-indent: -100em;
    color: transparent;
    background-color: transparent;
    background-image: url(/clear-24px.svg);
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    opacity: .5;
}

#clear:focus, #clear:hover, #clear:active {
    outline: none;
    opacity: 1;
}

#name {
    appearance: none;
    display: block;
    border: solid .125rem #aaa;
    padding: .5em;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}

#text:empty::after {
    color: #ccc;
    content: attr(data-message-placeholder);
}

#connection {
    background-color: #888;
    color: rgba(255, 255, 255, .5);
    padding: .5em;
}

#connection[data-status="OPEN"]:not([data-online-count="0"]) {
    color: #fff;
}

#connection[data-status="OPEN"] {
    background-color: #5eaf30;
}

#connection[data-status="OPEN"]::after {
    content: ' ' attr(data-message-online-count-before) attr(data-online-count) attr(data-message-online-count-after);
}

#connection[data-status="OPEN"][data-online-count="0"]::after {
    content: ' ' attr(data-message-only-you);
}

#connection[data-status="CONNECTING"] {
    background-color: #b89930;
}

#connection[data-status="CLOSED"] {
    cursor: pointer;
}

#connection[data-status="CLOSED"]::after {
    content: ' ' attr(data-message-closed-comment);
}

#comments {
    display: grid;
    align-content: end;
}

#comments:empty::before {
    content: attr(data-message-placeholder);
    opacity: .5;
    display: block;
    margin-block-end: 1em;
}

.commentBox {
    margin: 0;
    margin-block-end: 1em;
    border: solid .125rem #ccc;
    padding: .5em;
    background-color: #fff;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.commentBox::before {
    content: attr(data-name) ' @' attr(data-short-id) ': ';
    color: #888;
}

.commentBox .caretMark {
    display: inline-block;
    inline-size: .125rem;
    overflow: hidden;
    text-indent: -10em;
    background-color: #5eaf30;
    color: transparent;
    vertical-align: text-top;
}

.commentBox .caretMark::before {
    content: '*';
}

#members .commentBox {
    opacity: .75;
}

#overlay:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 75%;
    grid-template-rows: 75%;
    overflow: hidden;
}

#overlay > * {
    background-color: #fff;
    overflow: auto;
    inline-size: 100%;
    block-size: 100%;
    max-inline-size: 32rem;
    max-block-size: 32rem;
    position: relative;
}

#overlay > * > * {
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#overlay > * > .action-buttons {
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    bottom: 0;
    background-color: #fff;
    margin: 0;
    padding: .5em;
}

#overlay .action-buttons button {
    border: solid .125rem #aaa;
    background-color: #eee;
    appearance: none;
    margin: 0;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    box-sizing: border-box;
    padding: .5em;
}

#overlay .action-buttons button:hover, #overlay .action-buttons button:active {
    background-color: #fff;
}
