
@import url(/common.css);

@namespace 'http://www.w3.org/1999/xhtml';

:root {
    font-family: var(--theme-main-font);
    font-size: 100%;
    display: grid;
    min-width: 100%;
    min-height: 100%;
    font-synthesis: none;
    background-color: var(--theme-accent-color);
    color: var(--theme-main-text-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-kerning: normal;
    caret-color: var(--theme-accent-color);
}

body {
    display: grid;
    margin: 0;
    grid-template-rows: [viewport-start header-start] max-content [header-end content-start] auto [content-end controls-start] max-content [controls-end viewport-end];
    grid-template-columns: [viewport-start drawer-start content-start] max-content [drawer-end] 1fr [content-end viewport-end];
    transition: opacity linear .5s;
}

@media (min-width: 35rem) {
    body {
        grid-template-columns: [drawer-start] max-content [drawer-end content-start] 1fr [content-end];
    }

    #drawer-backdrop {
        visibility: hidden;
    }
}

#drawer {
    grid-row: 1 / -1;
    grid-column: drawer-start / drawer-end;
    inline-size: 80vmin;
    max-inline-size: 15rem;
    transition: all .25s ease;
    z-index: 10;
    background-color: var(--theme-input-background-color);
    box-shadow: 0 0 .5rem var(--theme-shadow-color);
    overflow: hidden;
    opacity: 1;
}

#drawer-backdrop {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    z-index: 10;
    background-color: var(--theme-overlay-color);
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(.5rem);
    opacity: 1;
    transition: opacity .25s ease-in;
}

.drawer-collapsed #drawer {
    inline-size: 0;
    opacity: 0;
}

.drawer-collapsed #drawer-backdrop {
    visibility: hidden;
    opacity: 0;
}

#drawer-menu a {
    display: grid;
    align-content: center;
    padding: .5rem;
    color: inherit;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
}

#drawer-menu a.selected {
    color: var(--theme-accent-color);
}

#drawer-menu a:hover, #drawer-menu a:active, #drawer-menu a:focus {
    background-color: var(--theme-selection-background-color);
}

body.flash {
    opacity: .25;
    transition: none;
}

#header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    background-color: var(--theme-accent-color);
    color: var(--theme-highlighted-text-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    inline-size: 100%;
    z-index: 1;
    grid-column: content-start / column-end;
    grid-row: header-start / header-end;
}

#drawer-header {
    display: grid;
    grid-template-columns: max-content 1fr;
    background-color: var(--theme-accent-color);
    color: var(--theme-highlighted-text-color);
}

#logotype {
    font-weight: 500;
    color: inherit;
}

#location {
    display: grid;
    position: relative;
}

#location-popup {
    display: grid;
    position: absolute;
    top: 100%;
    inline-size: 100%;
    grid-template-columns: max-content 1fr;
    visibility: hidden;
    box-shadow: 0 0 .25rem var(--theme-shadow-color);
    color: var(--theme-main-text-color);
    background-color: var(--theme-input-background-color);
}

#location:hover #location-popup, #location:focus-within #location-popup {
    visibility: visible;
}

#location ::placeholder {
    color: inherit;
    opacity: .5;
}

#token-list {
    display: block;
    grid-column: 1 / -1;
    grid-row: 2;
    max-block-size: calc(100vmin - 6rem);
    overflow: auto;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border-block-start: solid .125rem var(--theme-border-color);
    margin: 0;
    padding: 0;
}

#token-list button {
    display: block;
    text-align: start;
    padding: .5rem;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    inline-size: 100%;
    block-size: max-content;
    overflow: hidden;
    background-color: transparent;
    color: inherit;
    font: inherit;
    border: none;
    border-radius: 0;
    outline: none;
}

#token-list button:hover, #token-list button:active, #token-list button:focus {
    background-color: var(--theme-selection-background-color);
}

#token-list button::after {
    display: block;
    content: '#' attr(value);
    opacity: .75;
    overflow: hidden;
    text-overflow: ellipsis;
    inline-size: 100%;
    white-space: nowrap;
}

label[for="token"] {
    display: grid;
    align-content: center;
    padding: .5rem;
    padding-inline-start: 0;
    padding-inline-end: 0;
    box-sizing: border-box;
    inline-size: 1rem;
    text-align: end;
}

#token, #room-name, .header-button {
    display: grid;
    align-content: center;
    padding: .5rem;
    inline-size: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    appearance: none;
    outline: none;
}

#token, #room-name {
    text-overflow: ellipsis;
}

#token {
    padding-inline-start: .125rem;
}

#location:hover #room-name, #location:focus-within #room-name {
    color: var(--theme-main-text-color);
    background-color: var(--theme-input-background-color);
    box-shadow: inset 0 0 .25rem var(--theme-shadow-color);
}

#token::placeholder {
    opacity: .5;
    color: inherit;
}

.header-button {
    cursor: pointer;
}

.header-button:active, .header-button:hover {
    background-color: var(--theme-highlighted-active-color);
}

#main {
    display: grid;
    align-content: end;
    background-color: var(--theme-main-background-color);
    padding: .5rem;
    grid-column: content-start / content-end;
    grid-row: content-start / content-end;
}

[data-online-status="OFFLINE"] #main::before {
    content: attr(data-message-offline);
    display: block;
    margin-block-end: 1em;
}

#controls {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    inline-size: 100%;
    background-color: var(--theme-main-background-color);
    display: grid;
    grid-template-columns: max-content 1fr;
    box-shadow: 0 0 .25rem var(--theme-shadow-color);
    grid-column: content-start / content-end;
    grid-row: controls-start / controls-end;
}

#about {
    font-size: 75%;
}

#text-wrapper {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 1fr max-content;
    margin: .5rem;
    margin-block-end: 1.25rem;
    border-radius: .75rem;
    box-shadow: 0 0 .25rem var(--theme-shadow-color);
    background-color: var(--theme-input-background-color);
}

#text {
    margin: 0;
    display: block;
    border: none;
    padding: .5em;
    appearance: none;
    box-sizing: border-box;
    overflow: hidden;
    white-space: pre-wrap;
    color: var(--theme-disabled-text-color);
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    overflow-wrap: break-word;
    cursor: text;
    outline: none;
    text-align: start;
}

#text:focus {
    color: var(--theme-main-text-color);
}

#text * {
    display: inline;
    font: inherit;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    color: inherit;
    cursor: inherit;
    border: none;
    vertical-align: baseline;
}

#clear {
    display: grid;
    align-content: center;
    border: none;
    appearance: none;
    box-sizing: border-box;
    color: inherit;
    background-color: transparent;
    opacity: .5;
    outline: none !important;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    padding-inline-start: .25rem;
    padding-inline-end: .25rem;
}

#clear:focus, #clear:hover, #clear:active {
    opacity: 1;
}

#name-wrapper {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    background-color: var(--theme-input-background-color);
    color: var(--theme-main-text-color);
}

#name-label {
    grid-column: 1;
    padding-inline-start: .25rem;
    padding-inline-end: .125rem;
    display: grid;
    align-content: center;
    font-size: 0;
}

#name-label::before {
    font-size: 1.5rem;
    content: 'person';
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

#name {
    grid-column: 2;
    appearance: none;
    display: block;
    padding: .5rem;
    border: none;
    padding-inline-start: .125rem;
    padding-inline-end: .25rem;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    color: inherit;
    text-overflow: ellipsis;
}

#identity {
    margin: 0;
    display: block;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
    padding: .5rem;
    padding-inline-start: 0;
    padding-inline-end: .25rem;
    color: var(--theme-disabled-text-color);
    cursor: default;
}

#identity::before {
    content: '@';
}

#identity:empty::after {
    content: '<your id>';
}

#text:empty::after {
    color: var(--theme-secondary-text-color);
    content: attr(title);
}

#connection {
    background-color: #888;
    color: rgba(255, 255, 255, .5);
    padding: .5em;
}

#connection[data-status="OPEN"]:not([data-online-count="0"]) {
    color: #fff;
}

#connection[data-status="OPEN"] {
    background-color: #5eaf30;
}

#connection[data-status="OPEN"]::after {
    content: attr(data-message-online-count-before) attr(data-online-count) attr(data-message-online-count-after);
}

#connection[data-status="OPEN"][data-online-count="0"]::after {
    content: attr(data-message-only-you);
}

#connection[data-status="CONNECTING"] {
    background-color: #b89930;
}

#connection[data-status="CONNECTING"]::after {
    content: attr(data-message-connecting);
}

#connection[data-status="CLOSED"], #connection[data-status="CLOSING"] {
    cursor: pointer;
}

#connection[data-status="CLOSED"]::before, #connection[data-status="CLOSING"]::before {
    content: 'refresh';
    vertical-align: text-bottom;
    margin-inline-end: .25rem;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

#connection[data-status="CLOSED"]::after, #connection[data-status="CLOSING"]::after {
    content: attr(data-message-offline);
}

#main chatspace-toast {
    margin-block-end: 1rem;
    max-inline-size: 30rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-size: 87.5%;
}

#overlay:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme-overlay-color);
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 75%;
    overflow: hidden;
    z-index: 20;
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(.5rem);
}

#overlay > * {
    background-color: var(--theme-main-background-color);
    overflow: auto;
    inline-size: 100%;
    block-size: 100%;
    max-inline-size: 32rem;
    max-block-size: 32rem;
    position: relative;
}

#overlay > * > * {
    margin-inline-start: 1.5rem;
    margin-inline-end: 1.5rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

#overlay > * > .action-buttons {
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    bottom: 0;
    background-color: var(--theme-main-background-color);
    margin: 0;
    padding: .5em;
}

#overlay button {
    border: solid .125rem var(--theme-input-border-color);
    background-color: var(--theme-main-background-color);
    appearance: none;
    margin: 0;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    box-sizing: border-box;
    padding: .5em;
    color: var(--theme-main-text-color);
}

#overlay button:hover, #overlay button:active {
    background-color: var(--theme-input-background-color);
}
