@namespace 'http://www.w3.org/1999/xhtml';

:root {
    --theme-main-font: system-ui, -apple-system, sans-serif;
    --theme-accent-color: #5eaf30;
    --theme-highlighted-text-color: #fff;
    --theme-highlighted-active-color: rgba(0, 0, 0, .25);

    /* light theme */
    --theme-light-text-color: #333;
    --theme-light-background-color: #f2f2f2;
    --theme-light-overlay-color: rgba(255, 255, 255, .5);
    --theme-light-inverted-text-color: #fff;
    --theme-light-input-background-color: #fff;
    --theme-light-secondary-text-color: #ccc;
    --theme-light-input-border-color: #aaa;
    --theme-light-disabled-text-color: #888;
    --theme-light-border-color: #ccc;
    --theme-light-label-text-color: #888;
    --theme-light-clear-icon: url(/clear-24px.svg);
    --theme-light-refresh-icon: url(/refresh-black-18dp.svg);

    /* dark theme */
    --theme-dark-text-color: #eee;
    --theme-dark-background-color: #333;
    --theme-dark-overlay-color: rgba(0, 0, 0, .5);
    --theme-dark-inverted-text-color: #000;
    --theme-dark-input-background-color: #000;
    --theme-dark-secondary-text-color: #666;
    --theme-dark-input-border-color: #888;
    --theme-dark-disabled-text-color: #888;
    --theme-dark-border-color: #666;
    --theme-dark-label-text-color: #999;
    --theme-dark-clear-icon: url(/clear-white-24px.svg);
    --theme-dark-refresh-icon: url(/refresh-white-18dp.svg);
    --theme-dark-add-icon: url(/add-white-18dp.svg);

    --theme-main-text-color: var(--theme-light-text-color);
    --theme-main-background-color: var(--theme-light-background-color);
    --theme-inverted-text-color: var(--theme-light-inverted-text-color);
    --theme-input-background-color: var(--theme-light-input-background-color);
    --theme-input-border-color: var(--theme-light-input-border-color);
    --theme-secondary-text-color: var(--theme-light-secondary-text-color);
    --theme-disabled-text-color: var(--theme-light-disabled-text-color);
    --theme-border-color: var(--theme-light-border-color);
    --theme-label-text-color: var(--theme-light-label-text-color);
    --theme-overlay-color: var(--theme-dark-overlay-color);
    --theme-clear-icon: var(--theme-light-clear-icon);
    --theme-refresh-icon: var(--theme-light-refresh-icon);
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-main-text-color: var(--theme-dark-text-color);
        --theme-main-background-color: var(--theme-dark-background-color);
        --theme-inverted-text-color: var(--theme-dark-inverted-text-color);
        --theme-input-background-color: var(--theme-dark-input-background-color);
        --theme-input-border-color: var(--theme-dark-input-border-color);
        --theme-secondary-text-color: var(--theme-dark-secondary-text-color);
        --theme-disabled-text-color: var(--theme-dark-disabled-text-color);
        --theme-border-color: var(--theme-dark-border-color);
        --theme-label-text-color: var(--theme-dark-label-text-color);
        --theme-overlay-color: var(--theme-light-overlay-color);
        --theme-clear-icon: var(--theme-dark-clear-icon);
        --theme-refresh-icon: var(--theme-dark-refresh-icon);
    }
}

body, input, textarea, button, select {
    font: inherit;
    border-radius: 0;
}

input[type="text"] {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

pre {
    white-space: pre-wrap;
}

a {
    text-decoration: none;
    color: var(--theme-accent-color);
}

.not-displayed {
    display: none;
}

:root {
    font-family: var(--theme-main-font);
    font-size: 100%;
    display: grid;
    min-width: 100%;
    min-height: 100%;
    font-synthesis: none;
    background-color: var(--theme-accent-color);
    color: var(--theme-main-text-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    display: grid;
    margin: 0;
    grid-template-rows: max-content auto max-content;
    transition: opacity linear .5s;
}

body.flash {
    opacity: .25;
    transition: none;
}

#header {
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content max-content;
    background-color: var(--theme-accent-color);
    color: var(--theme-highlighted-text-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    inline-size: 100%;
    z-index: 1;
}

#logotype {
    font-weight: 500;
    padding: .5em;
    display: block;
    color: var(--theme-highlighted-text-color);
}

#location {
    display: grid;
    grid-template-columns: max-content 1fr;
}

#location::before {
    display: block;
    padding: .5em;
    content: '#';
    padding-inline-start: .25em;
    padding-inline-end: .125em;
}

#location:hover {
    color: var(--theme-main-text-color);
    background-color: var(--theme-light-overlay-color);
}

#random, #token, #help, #settings-button {
    display: block;
    padding: .5em;
    inline-size: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
}

#token {
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    appearance: none;
    padding-inline-start: .125em;
    outline: none;
}

#token::placeholder {
    opacity: .5;
    color: inherit;
}

#token:focus {
    color: var(--theme-light-text-color);
    /*background-color: rgba(255, 255, 255, .5);*/
}

#random, #help, #settings-button {
    overflow: hidden;
    color: transparent;
    text-indent: -20em;
    box-sizing: border-box;
    inline-size: 2em;
    border: none !important;
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

#random {
    background-image: url(/add-white-18dp.svg);
}

#help {
    background-image: url(/help-white-18dp.svg);
}

#settings-button {
    background-image: url(/settings-white-18dp.svg);
}

#random:active, #random:hover, #help:active, #help:hover {
    background-color: var(--theme-highlighted-active-color);
}

#main {
    display: grid;
    align-content: end;
    background-color: var(--theme-main-background-color);
    padding: .5rem;
}

#controls {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    inline-size: 100%;
    background-color: var(--theme-input-background-color);
    display: grid;
    grid-template-columns: max-content 1fr;
}

#about {
    font-size: 75%;
}

#text-wrapper {
    border: solid .125rem var(--theme-input-border-color);
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: max-content max-content 1fr 2rem;
    padding-block-end: 1em;
}

#text-wrapper::before {
    content: '@';
    display: block;
    margin: 0;
    padding: .5em;
    padding-inline-end: 0;
    color: var(--theme-secondary-text-color);
}

#identity {
    margin: 0;
    display: block;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
    padding: .5em;
    padding-inline-start: 0;
    padding-inline-end: .25em;
    color: var(--theme-secondary-text-color);
}

#identity::after {
    content: ' >';
}

#identity:empty::before {
    content: '<your id>';
}

#text {
    margin: 0;
    display: block;
    border: none;
    padding: .5em;
    padding-inline-start: .25em;
    appearance: none;
    box-sizing: border-box;
    overflow: hidden;
    white-space: pre-wrap;
    color: var(--theme-disabled-text-color);
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

#text:focus {
    color: var(--theme-main-text-color);
    outline: none;
}

#clear {
    margin: 0;
    display: block;
    border: none;
    appearance: none;
    box-sizing: border-box;
    overflow: hidden;
    text-indent: -100em;
    color: transparent;
    background-color: transparent;
    background-image: var(--theme-clear-icon);
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    opacity: .5;
}

#clear:focus, #clear:hover, #clear:active {
    outline: none;
    opacity: 1;
}

#name {
    appearance: none;
    display: block;
    border: solid .125rem var(--theme-input-border-color);
    padding: .5em;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    background-color: var(--theme-input-background-color);
    color: var(--theme-main-text-color);
}

#text:empty::after {
    color: var(--theme-secondary-text-color);
    content: attr(title);
}

#connection {
    background-color: #888;
    color: rgba(255, 255, 255, .5);
    padding: .5em;
}

#connection[data-status="OPEN"]:not([data-online-count="0"]) {
    color: #fff;
}

#connection[data-status="OPEN"] {
    background-color: #5eaf30;
}

#connection[data-status="OPEN"]::after {
    content: attr(data-message-online-count-before) attr(data-online-count) attr(data-message-online-count-after);
}

#connection[data-status="OPEN"][data-online-count="0"]::after {
    content: attr(data-message-only-you);
}

#connection[data-status="CONNECTING"] {
    background-color: #b89930;
}

#connection[data-status="CONNECTING"]::after {
    content: attr(data-message-connecting);
}

#connection[data-status="CLOSED"], #connection[data-status="CLOSING"] {
    cursor: pointer;
}

#connection[data-status="CLOSED"]::before, #connection[data-status="CLOSING"]::before {
    display: inline-block;
    content: 'reload';
    inline-size: 1em;
    color: transparent;
    text-indent: -10em;
    overflow: hidden;
    background-size: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--theme-dark-refresh-icon);
    vertical-align: text-top;
    margin-inline-end: .25em;
}

#connection[data-status="CLOSED"]::after, #connection[data-status="CLOSING"]::after {
    content: attr(data-message-offline);
}

#comments {
    display: grid;
    align-content: end;
}

#comments:empty::before {
    content: attr(data-message-placeholder);
    opacity: .5;
    display: block;
    margin-block-end: 1em;
}

.commentBox {
    margin: 0;
    margin-block-end: 1em;
    border: solid .125rem var(--theme-border-color);
    padding: .5em;
    background-color: var(--theme-input-background-color);
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    white-space: pre-wrap;
}

.commentBox::before {
    content: attr(data-name) ' @' attr(data-short-id) ': ';
    color: var(--theme-label-text-color);
}

.commentBox .caretMark {
    display: inline-block;
    inline-size: .125rem;
    overflow: hidden;
    text-indent: -10em;
    background-color: var(--theme-accent-color);
    color: transparent;
    vertical-align: text-top;
}

.commentBox .caretMark::before {
    content: '*';
}

#members .commentBox {
    opacity: .75;
}

#overlay:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme-overlay-color);
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 75%;
    grid-template-rows: 75%;
    overflow: hidden;
    z-index: 2;
}

#overlay > * {
    background-color: var(--theme-input-background-color);
    overflow: auto;
    inline-size: 100%;
    block-size: 100%;
    max-inline-size: 32rem;
    max-block-size: 32rem;
    position: relative;
}

#overlay > * > * {
    margin-inline-start: 1.5rem;
    margin-inline-end: 1.5rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

#overlay > * > .action-buttons {
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    bottom: 0;
    background-color: var(--theme-input-background-color);
    margin: 0;
    padding: .5em;
}

#overlay .action-buttons button {
    border: solid .125rem var(--theme-input-border-color);
    background-color: var(--theme-main-background-color);
    appearance: none;
    margin: 0;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    box-sizing: border-box;
    padding: .5em;
    color: var(--theme-main-text-color);
}

#overlay .action-buttons button:hover, #overlay .action-buttons button:active {
    background-color: var(--theme-input-background-color);
}
